---
import BaseHead from '@theme/components/BaseHead.astro';
import Footer from '@theme/components/Footer.astro';
import Header from '@theme/components/Header.astro';
import ThemeBlogIndex from '@theme/components/ThemeBlogIndex.astro';
import { LEARN_BRAND, LEARN_INDEX_META_DESCRIPTION } from '@theme/consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${LEARN_BRAND} · Blog`} description={LEARN_INDEX_META_DESCRIPTION} />
	</head>
	<body data-theme="learn">
		<Header />
		<main>
			<ThemeBlogIndex />
		</main>
		<Footer />
	</body>
</html>
