---
import BaseHead from '@theme/components/BaseHead.astro';
import Footer from '@theme/components/Footer.astro';
import Header from '@theme/components/Header.astro';
import CourseSamplePage from '@theme/components/CourseSamplePage.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@theme/consts';

const title = `Entrepreneurship & Innovation — ${SITE_TITLE}`;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<CourseSamplePage />
		</main>
		<Footer />
	</body>
</html>
