---
import { getCollection } from 'astro:content';
import BaseHead from '@theme/components/BaseHead.astro';
import Footer from '@theme/components/Footer.astro';
import Header from '@theme/components/Header.astro';
import ThemeBlogIndex from '@theme/components/ThemeBlogIndex.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@theme/consts';

const posts = (
	await getCollection('blog', ({ data }) => !data.draft)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Blog — ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<ThemeBlogIndex posts={posts} />
		</main>
		<Footer />
	</body>
</html>
